RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^coinelavate\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.coinelavate\.com$
RewriteRule ^(.*)$ https://coinelavate.com$1 [R=301,L]

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
RewriteCond %{HTTP_HOST} ^app\.richnetinvestment\.com$
RewriteRule ^/?$ "https\:\/\/app\.richnetinvestment\.com\/login" [R=301,L]
RewriteCond %{HTTP_HOST} ^app\.loftycede\.org$
RewriteRule ^/?$ "https\:\/\/loftycede\.org\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^clientarea\.loftycedes\.net$
RewriteRule ^/?$ "https\:\/\/clientarea\.loftycedes\.net\/login" [R=301,L]
